*~
build/*
.Templates*
*.log
*.aux
*.blg
*.out
*.toc
*.brf
*.loa
*.lof
*.synctex.gz
*.synctex.gz~
0-Miscellaneous/Copyright/sign.jpg
0-Miscellaneous/Copyright/.~lock.*
0-Miscellaneous/ThesisSinglePage.pdf
0-Miscellaneous/ThesisWithBlankPage.pdf
8-Spin-HHG/Figures/build/*
Code/Data/*
